body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(nils-nedel-ONpGBpns3cs-unsplash.jpg);
    background-position: center;
}
.Title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(251, 253, 255);
    font-family: 'Times New Roman', Times, serif;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: auto;
    margin-bottom: 300px;
    padding-left: 205px;
    padding-top: 20px;
    background-color: rgba(229, 255, 0, 0.315);
    border-radius: 25px;
    box-shadow: 0px 25px 15px 25px;
    width: 50%;
    max-width: 500px;
    height: 100%;
    max-height: 900px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

input[type=text]{
    width: 50%;
    padding: 12px 16px;
    margin-top: 10px;
    border: 8px;
    border-radius: 12px;
}

input[type=number]{
    width: 50%;
    padding: 12px 16px;
    margin-top: 10px;
    border: 8px;
    border-radius: 12px;
}
.btn{
    display: flex;
    align-items: center;
    gap: 50px;
}
.btn button{
    padding: 10px 25px;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}
.btn-ok:hover{
background-color: rgb(63, 161, 241);
}
.btn-cancel:hover{
    background-color: rgba(255, 5, 5, 0.986);
}
